/** @format */

body {
  padding: 0px;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  
}


.container {
  height: 450px;
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px;
  border-radius: 18px;
  border-radius: 15px;
  border: 1px black solid;
  margin: auto;
  margin-top: 8%;
  padding: 10px;

}
img {
  width: 280px;
  padding: 10px;
  border-radius: 30px;
}

button {
  height: 25px;
  width: 70px;
  color: black;
  background-color: hsl(47, 88%, 63%);
  border: none;
  left: 430px;
  border-radius: 5px;
  margin-left: 18px;
  font-weight: 800;
  margin-top: 15px;
}
.content {
  margin-left: 18px;
}

.content img {
  width: 30px;
  padding: 3px;
}

.greg {
  position: relative;
  bottom: 51px;
  left: 17%;
}

h3:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

#para {
  font-size: 16px;
  color:hsl(0, 0%, 42%);
}

.Published{
  font-weight:500;
  margin-top: 12px;
  font-size: 14px;

}